	</tr>
		<tr>
			<td><%= link_to "#{storage.id}", [storage.client, storage]%></td>
			<td><%= storage.tanktype %></td>
			<td><%= link_to "-Edit-", edit_client_storage_path(@client, storage)%></td>
		</tr>